*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:black;
color:white;
text-align:center;

}

/* hero */

.hero{

padding:120px 20px;
background:radial-gradient(circle,#111,#000);

}

.hero h1{

font-size:50px;
margin-bottom:10px;

}

.hero p{

color:#aaa;
font-size:18px;

}

/* stats */

.stats{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:40px;
padding:60px 20px;

}

.stat h2{

font-size:35px;
color:#00bfff;

}

/* courses */

.courses{

padding:60px 20px;

}

.courses ul{

list-style:none;
margin-top:20px;

}

.courses li{

padding:10px;
font-size:18px;

}

/* director */

.director{

padding:60px 20px;

}

.director img{

width:180px;
border-radius:50%;
margin-bottom:20px;

}

.name{

margin-top:10px;
color:#00bfff;

}

/* CTA */

.cta{

background:#111;
padding:80px 20px;

}

.cta button{

padding:12px 30px;
font-size:16px;
border:none;
background:#00bfff;
color:white;
border-radius:30px;
cursor:pointer;

}
